body {
	font-family: Avenir;
	background-color: #f7f7f7;
}

.container-fluid {
	padding: 0;
}

/* --------------- NAV BAR --------------- */
.pageLinks {
	display: inline;
	float: right;
}

.pos-f-t {
	background-color: white;
	opacity: .95;
	padding: 1em 2em;
  	position: sticky;
  	top: 0;
  	z-index: 100;
}

a {
	text-decoration: none !important;
	color: inherit;
}

 nav a:hover {
	color: inherit;
}

#name {
	font-weight: 500 !important;
	letter-spacing: 2px;
}

.pageLinks a {
	margin: 0 2em;
	font-size: 14px;
}

.responsive a {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

.navbar-toggler {
	display: none;
}

button.navbar-toggler {
	padding: 0;
}

.navbar-toggler-icon {
	width: 1.2em;
}

@media screen and (max-width: 600px) {
	.navbar-toggler {
		float: right;
		border: none;
		display: inline;
	}

	.pageLinks {
		display: none;
	}
}

/* --------------- HOME --------------- */
.titleBox {
	width: 100%;
	opacity: 1;
}

.row {
	padding: 0;
	margin: 0;
}

.work .row {
	max-width: 1280px;
	margin: auto;
}

.contentTitle {
	padding: 1.75em;
	font-size: 21px;
	font-weight: 500;
	letter-spacing: 3px;
}

.subtitle {
    padding: 42px;
    font-size: 14px;
    padding-left: 20px;
    color: gray;
}

.col-lg-4 {
	margin-bottom: 4em;
}

.thumbnail {
	width: 350px;
	height: 350px;
	margin: auto;
	background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.artCaption {
    display: none;
}

.hoverOverlay {
	opacity: 0;
	width: 350px;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: gray;
	transition-duration: .4s;
}

.thumbnail:hover .hoverOverlay {
	opacity: .75;
	transition-duration: .4s;
}

.projectTitle {
	font-size: 24px;
	opacity: 0;
	position: relative;
	top: 160px;
	text-align: center;
	color: white;
	transition-duration: .4s;
	z-index: 10;
}

.thumbnail:hover .projectTitle {
	opacity: 1;
	transition-duration: .4s;
}

/* --------------- ABOUT --------------- */
.skills {
	padding-left: 0;
}

.about {
	padding-left: 0;
	padding-right: 0;
}

.skills ul {
	list-style-type: circle;
}

.aboutContainer {
    max-width: 1080px !important;
}

/* --------------- PROJECT PAGES --------------- */

.contentContainer {
	padding: 2em;
	max-width: 800px;
	margin: auto;
}

.projectName {
	font-size: 21px;
	font-weight: 500 !important;
	letter-spacing: 3px;
	padding-bottom: .5em;
}

.projectDate {
	font-size: 14px;
	font-weight: lighter;
}

#sketch-holder {
	width: 700px;
	margin: 2em auto;
}

#bus-holder canvas {
	width: 100% !important;
	height: auto !important;
}

.breadImg {
    display: inline-block;
    width: 47%;
    padding-bottom: 2em;
    padding-top: 1em;
}

@media screen and (max-width: 600px) {
    .breadImg {
        display: block;
        width: 100%;
    }
}

iframe {
    display: block;
    margin: auto;
}

.hcsIcon {
    padding: 0 3%;
    box-sizing: content-box;
}



/* ------------------ MODAL --------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    height: 90%;
    width: auto;
    background-color: transparent;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    height: 60px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        height: auto;
    }
}